:root {
  --color-primary-000: #eceff1;
  --color-primary-100: #cfd8dc;
  --color-primary-200: #b0bec5;
  --color-primary-300: #90a4ae;
  --color-primary-400: #78909c;
  --color-primary-500: #607d8b;
  --color-primary-600: #546e7a;
  --color-primary-700: #455a64;
  --color-primary-800: #37474f;
  --color-primary-900: #263238;

  --color-secondary-000: #fce4ec;
  --color-secondary-100: #f8bbd0;
  --color-secondary-200: #f48fb1;
  --color-secondary-300: #f06292;
  --color-secondary-400: #ec407a;
  --color-secondary-500: #e91e63;
  --color-secondary-600: #d81b60;
  --color-secondary-700: #c2185b;
  --color-secondary-800: #ad1457;
  --color-secondary-900: #880e4f;

  --border-radius: 0.5rem;

  --padding-sm: 0.25rem;
  --padding-md: 0.5rem;
  --padding-lg: 1rem;

  --box-shadow-sm: 0px 0px 6px rgba(0, 0, 0, 0.1);
  --box-shadow-md: 0px 0px 6px rgba(0, 0, 0, 0.2);
  --box-shadow-lg: 0px 0px 6px rgba(0, 0, 0, 0.3);
}
